/*optimize for smallest 1080px*/

html,
body {
	box-sizing: border-box;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Red Hat Display', sans-serif;
}
.maxwidth {
	max-width: 1440px;
	margin-left: auto;
	margin-right: auto;
}
.nopadding {
	padding: 0 !important;
}
.absolute {
	position: absolute;
}
.center-text {
	text-align: center;
}
.black {
	font-weight: 900;
}
.mb0 {
	margin-bottom: 0;
}
.cover {
	background-image: linear-gradient(-20deg, #000000, #1e2d29);
	background-color: #1e2d29;
	padding: 3rem;
	display: flex;
	justify-content: center;
	align-content: center;
	height: 100vh;	
}
.cover-text {
	color: #ffffff;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.text-container {
	background-color: #000000;
	color: #ffffff;
	padding: 3rem;
	height: 75vh;
	display: flex;
	justify-content: center;
	align-content: center;
}
.textbox {
	max-width: 500px;
}
.illubox {
	position: relative;
}
section {
	overflow: hidden;
}
.centered-bg {
	left: 0;
	right: 0;
	margin: auto;
}
.portrait {
	background-color: #1e2d29;
}
.zooquest {
	background-color: #c3b590;
}
.gorillas {
	background-color: #2e3c17;
}
.whale {
	background-color: #c1e1ff;
}
.manta {
	background-color: #013f68;
}
.species {
	background-color: #ceb382;
}
.scenery {
	background-color: #c6d3e0;
}

@media screen and (min-width: 760px){
	.illubox {
		height: 700px;
	}
}
@media(max-width: 1080px) {
	.sm-md-hide {
		display: none;
	}
	.lg-show {
		display: block;
	}
}
@media(min-width: 1080px) {
	.lg-hide {
		display: none;
	}
	.sm-md-show {
		display: block;
	}
}