/*optimize for smallest 1080px*/

html,
body {
	box-sizing: border-box;
	height: 100%;
	margin: 0;
	padding: 0;
}
.maxwidth {
	max-width: 1440px;
	margin-left: auto;
	margin-right: auto;
}
.nopadding {
	padding: 0 !important;
}
.absolute {
	position: absolute;
}
.textbox {
	padding: 3rem;
	text-align: center;
	height: 40vh;
}
.illubox {
	position: relative;
}
section {
	overflow: hidden;
}
.centered-bg {
	left: 0;
	right: 0;
	margin: auto;
}
.portrait {
	background-color: #1e2d29;
}
.zooquest {
	background-color: #c3b590;
}
.gorillas {
	background-color: #2e3c17;
}
.whale {
	background-color: #c1e1ff;
}
.manta {
	background-color: #013f68;
}
.species {
	background-color: #ceb382;
}
.scenery {
	background-color: #c6d3e0;
}

@media screen and (min-width: 760px){
	.illubox {
		height: 700px;
	}
}
@media(max-width: 1080px) {
	.sm-md-hide {
		display: none;
	}
	.lg-show {
		display: block;
	}
}
@media(min-width: 1080px) {
	.lg-hide {
		display: none;
	}
	.sm-md-show {
		display: block;
	}
}