html,
body {
	box-sizing: border-box;
	height: 100%;
	margin: 0;
	padding: 0;
}
.nopadding {
	padding: 0 !important;
}
.absolute {
	position: absolute;
}
.textbox {
	padding: 3rem;
	text-align: center;
	height: 40vh;
}
.illubox {
	position: relative;
	height: 50vh;
}
section {
	overflow: hidden;
}
.centered-bg {
	left: 0;
	right: 0;
	margin: auto;
}
#portrait {
	background-color: #1e2d29;
}
.portrait-david {
	left: 20%;
	bottom: -50px;
}
#zooquest {
	background-color: #c3b590;
}
.zoo-quest-david {
	bottom: -50px;
}
#gorillas {
	background-color: #2e3c17;
}
#whale {
	background-color: #c1e1ff;
}
#manta {
	background-color: #013f68;
}
#species {
	background-color: #ceb382;
}
#scenery {
	background-color: #c6d3e0;
}

@media screen and (min-width: 400px){
	.illubox {
		height: 110vh;
	}
}